/* css principal*/
body{
    position: relative;
    display: block;
    background:url(../imagens/background.jpg);
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    min-height: 100%;
    color: black;
}
.principla{
    width: 100%;
    position: relative;
    min-height: 100%;
}

.headernav{
    background-color: #0a6332;
    position: relative;
    color: white;
    width: 100%;
    height: 54px;
    margin:0;
}

.cabecalho{
    width: 70%;
    float: left;
    display: block;
}
.menu{
    width: 30%;
    float: right;
}
.conteudo{
    clear: both;
    position: relative;
    width: 100%;
    display: block;
    border: none;
    margin:0px;

}
.menuadmin{
    position: relative;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rodape{
    clear: both;
    margin-top: 30px;
    width: 100%;
    position:fixed;
    bottom: -10px; 

}


/*cabeçalho*/
/*logo*/
header{
    width: 100%;
}
.icones{
    position: relative;
    height: 54px;
    width: 100%;
    display: table;

}
.logoheader{
    width: 150px;
    position: relative;
    float: left;
}
.textoheader{
    width: 40%;
    position: relative;
    float: left;
    height: 54px;
}
.textoheader h1{
    
    margin: 0px;
    padding: 10px 0px;
}


.icones img{
    height: 52px;
}

/*menu*/
nav{
    position: relative;
    display: block;
    float: right;
    height: 54px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100%;

}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

/*corpo*/
.home{
    clear: both;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    
}

.home form{
    position: relative;
    clear: both;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper{
    clear: both;
    height: 100%;
    width: 40%;
    position: relative;
    margin-left: 29%;
    padding: 20px;
    background-color: #BEBEBE;
    border-radius: 7px;
    
}
.email{
    clear: both;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.email h3 {
    position: relative;
    float: left;
    margin: 0;
    width: 10%;
}
.email input{
    position: relative;
    margin-left: 10px;
    width: 80%;
    float: right;
}
.senha{ 
    clear: both;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
}
.senha h3 {
    position: relative;
    float: left;
    margin: 0;
    width: 10%;
}
.senha input{
    position: relative;
    margin-left: 10px;
    width: 300px;
    float: right;
    width: 80%;
}
.logar{
    margin-top: 10px;
    position: relative;
    clear: both;
    width: 100%;
    text-align: center;
}

/*wripper dashboard*/
.wrapperadmin{
    position: relative;
    width: 70%;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 10%;
}
.wrapperadmin input.Dashboard    {
        margin: 5px;
        float: left;
        position: relative;
        width: 250px;
        height: 100px;
        cursor: pointer;
        font-weight: bold;
        font-size: 150%;
        background: black;
        color: #fff;
        border: 0px ;
        border-radius: 7px;
        -moz-box-shadow:: 6px 6px 5px #999;
        -webkit-box-shadow:: 6px 6px 5px #999;
        box-shadow:: 6px 6px 5px #999;
        }

.wrapperadmin input.Dashboard:hover {
        background-color: #4CAF50;
        }

.wrapperform{
    clear: both;
    height: 100%;
    width: 60%;
    position: relative;
    margin-left: 20%;
    padding: 20px;
    background-color: #BEBEBE;
    border-radius: 7px;
}
.wrapperform input{
    width: 100%;
    height: 30px;
    position: relative;
}
.wrapperform p{
    font-weight: bold;
    font-size: 20;
}
.tabelalista{
    background-color: #BEBEBE;
    text-decoration: none;
    width: 100%;
    position: relative;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    border: 1px solid black;
}


.indicetabela td{
    color: white;
    font-weight: bold;
    background-color: black;
    border: 1px solid black;


}
.excluirtabela{
    background-color: white;
    padding: 3px;
    text-align: center;
    position: relative;
    width: 100px;
    border: 1px solid black;

}
.excluirtabela a{
    text-decoration: none;
    color: black;
    width: 100px;


}
.excluirtabela:hover{
    background-color: #4CAF50;
}
.dadostabela td{
    border: 1px solid black;
    background-color: white;
}

.linkbotao{
    clear: both;
    margin: 10px;

}
.linkbotao a{
    text-decoration: none;
    width: 200px;
    background-color: #BEBEBE;
    height: 30px;
    padding: 5px;
    color: black;
    border-radius: 7px;
    


}
.linkbotao a:hover{
    border: 1px solid black;
    font-weight: bold;

}

/*rodapé*/
footer{
    background-color:#333;
    width: 100%;
    color: white;
    text-align: center;

}


@media only screen and (max-width: 700px){
.headernav{
    height: 265px;
    display: table;
    position: relative;
}
.cabecalho{
    width: 100%;
    float: none;
}
.textoheader{
    width: 100%;
    text-align: center;
    float: none;
}
.logoheader{
    width: 100%;
    text-align: center;
    float: none;
}
.menu{
    clear: both;
    width: 100%;
    float: none;
    display: block;
    position: relative;
}
.menulista{
    clear: both;
    display: block;
    position: relative;

}

.rodape{
    position: relative;
}
nav{
    position: relative;
    display: block;
    float: none;
    height: 54px;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: unset;
    background-color: #333;
    width: 100%;


}

li {
    float: none;
    width: 100%;
    position: relative;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    position: relative;
    
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}


/*corpo*/
.wrapper{
    text-align: center;
    clear: both;
}

.senha h3{
    float: none;
    width: 100%
}
.senha input{
    float: none;
}
.email h3{
    float: none;
    width: 100%
}
.email input{
    float: none;
}

.wrapperadmin{
    position: relative;
    width: 100%;
    margin:5px;
    clear: both;
}
.wrapperadmin input.Dashboard    {
        clear: both;
        margin: 5px;
        float: none;
        text-align: center;
        position: relative;
        width: 100%;
        height: 100px;
        cursor: pointer;
        font-weight: bold;
        font-size: 150%;
        background: black;
        color: #fff;
        border: 0px ;
        border-radius: 7px;
        -moz-box-shadow:: 6px 6px 5px #999;
        -webkit-box-shadow:: 6px 6px 5px #999;
        box-shadow:: 6px 6px 5px #999;
        }

.wrapperadmin input.Dashboard:hover {
        background-color: #4CAF50;
        }

}